<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="none" name="Suite">
  <test name="Regression">
  <groups>
  <run>
  			<!-- <exclude name = "Sedan Car "> -->
  <include name = "Regression">
  </run>
  </groups>
    <classes>
      <class name="LearnTestNG.TestNGAnnotaitons"/>
    </classes>
  </test> <!-- Test -->
  <test name="Smoke">
    <classes>
      <class name="LearnTestNG.TestNGAnnotaitons2"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test">
    <classes>
      <class name="LearnTestNG.TestNGAnnotaitons3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
